<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/confirmation-page/" method="post">
            <input class="button1" id="sender_address" name="sender_address" type="text" placeholder="Input Sender Address" />
            <input class="button1" id="receiver_address" name="receiver_address" type="text" placeholder="Input Receiver Address" />
            <input class="button1" id="amount" name="amount" type="text" placeholder="Input Amount" />
            <input class="button1" id="block_number" name="block_number" type="text" placeholder="Input Block Number" />
            <input class="button1" id="sender_public_key" name="sender_public_key" type="text" placeholder="Input Sender’s Public Key" />
            <input class="button1" id="sender_private_key" name="sender_private_key" type="text" placeholder="Input Sender Private Key" />
            <input class="button2" type="submit" value="Click for generate transaction" />
</form>
</body>
</html>